.container {
	margin-top: 30px;
}


.text{
	padding:10px;
	color:#212529;
	font-weight:bold;
}

.header {
	color:#212529;
  	background: #C7C4FF;
  	font-weight:bold;
}

 a:hover {
	text-decoration: none;
}


.center:hover {
  background: #FFD9EC;
  cursor: pointer;
} 

.logo {
	margin-top:100px;
	margin-left:80px;
}



